/**
 * Custom CSS
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap");
:root {
    --font-family: "Open Sans", sans-serif;
    font-display: optional;
    --border-radius: 0;
    --form-element-spacing-vertical: 1rem;
    --form-element-spacing-horizontal: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --font-family: "Raleway", sans-serif;
    font-display: optional;
    --font-weight: 800;
}

h1 {
    --font-size: 2.5rem;
    --typography-spacing-vertical: 2.5rem;
}

h2 {
    --font-size: 2rem;
    --typography-spacing-vertical: 2rem;
}

h3 {
    --font-size: 1.75rem;
    --typography-spacing-vertical: 1.75rem;
}

h4 {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 1.5rem;
}

h5 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 1.25rem;
}

p a {
    border-bottom: 2px dashed;
    color: #333652;
}

p a:hover {
    border-bottom: 2px solid;
    color: #FFCE00;
    text-decoration: none;
}

body {
    border-top: #ffcc33 5px solid;
}

body>header {
    padding-bottom: 1rem;
}

header h1 {
    color: #042c49;
}

header hgroup.header {
    margin-bottom: 0.6rem;
}

header hgroup.header h2 {
    color: rgb(65 84 98);
}

.social a {
    color: #042c49;
    font-size: 1.20rem;
}

.social a:hover {
    text-decoration: none;
}

main.content {
    padding-top: 1rem;
}

section.left,
section.right {
    margin-right: 2.5em;
}

footer {
    background-color: #ffcc33;
}

footer .menu a {
    color: #042c49;
    border-bottom: 2px dashed;
    margin-right:10px;
}

footer .grid{
    text-align: right !important;
}

.signature {
    font-size: 16px;
    font-weight: bold;
    color: #042c49;
}

.signature .icon-heart {
    color: #F51720;
}

.yellow-dot {
    color: #FFCE00;
}

/**
 * Icons
 */

@font-face {
    font-family: 'josecastrodev';
    src:  url('../fonts/josecastrodev.eot?6e0qgf');
    src:  url('../fonts/josecastrodev.eot?6e0qgf#iefix') format('embedded-opentype'),
    url('../fonts/josecastrodev.ttf?6e0qgf') format('truetype'),
    url('../fonts/josecastrodev.woff?6e0qgf') format('woff'),
    url('../fonts/josecastrodev.svg?6e0qgf#josecastrodev') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'josecastrodev', serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header [class^="icon-"]:hover, header [class*=" icon-"]:hover {
    color: #FFCE00;
}

footer a:hover {
    color: #FFFFFF;
}

.icon-location2:before {
    content: "\e948";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-contrast:before {
    content: "\e9d5";
}
.icon-heart:before {
    content: "\e9da";
}
.icon-arrow-up:before {
    content: "\ea32";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eac9";
}
.icon-bluesky:before {
    content: "\e900";
}
